extends layout

block content
  div.container
      h1= title
      p Sorry, we aren't taking any more submissions; check back often to see who won!
      ul.nav
        li
          a(href="/viewsub") See the submissions!
        li 
          a(href="/") Home page
