extends layout

block content
  h1= title
  p Welcome, #{title}
  div.submitVid
    form(name="submitVideo", method="post", action="/formsubmit")
        p
            input(type="text", name="subName", placeholder="Enter your full name")
        p    
            input(type="url", name="youtubeVideo", placeholder="Paste the video url here")
        p
            input(type="type", name="title", placeholder="Enter the title of the video")
        p
            textarea(rows="4", cols="50", name="describe", placeholder="Enter a brief description of your video")
        p
            input(type="submit", value="Submit", id="submitted")