extends layout

block content
  div.container
      h1= title
      p Thank you for your submission, check back often to see other submissions and to see if you won!
      ul.nav
        li
          a(href="/viewsub") See the submissions!
        li 
          a(href="/") Home page
